.Pets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

}

.Dog {
  display: inline-flex;
}

.Cat {
  display: inline-flex;
}

.Image {
  height: 200px;
}

@media only screen and (max-width: 450px) {
  .Image {
    height: 100px;
  }
}